@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mango Reader</h1>
    <p>
        Leave behind those <i>cluttered, distracting</i> manga reading websites.
        Choose Mango Reader.
    </p>
    <p>
        Browse through a endless collection of manga, search for your favorites, participate 
        in the Mango community by rating or leaving a comment. Stay up to date on your favorite
        ongoing Manga by searching by Author and sorting by release date.
    </p>
    <h3 class="display-3">What can I say? We got it all. </h3>
</div>
